<div class="simple-calendar">
  <div class="calendar-heading d-flex justify-content-between align-items-center">
    <%= link_to calendar.url_for_previous_view, id: "prev" do %>
      <span class="oi oi-chevron-left" data-toggle="tooltip" data-placement="top" title="前週"></span>
    <% end %>
    <span class="calendar-title">
      <%= start_date.year %>
      <span class="bold">
        <% if calendar.number_of_weeks == 1 %>
          <%= calendar.week_number %>週目
        <%else%>
          <%= calendar.week_number %> - <%= calendar.end_week %>週目
        <%end%>
      </span>
    </span>
    <%= link_to calendar.url_for_next_view, id: "next" do %>
      <span class="oi oi-chevron-right" data-toggle="tooltip" data-placement="top" title="翌週"></span>
    <% end %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
$("[data-toggle='tooltip']").tooltip();
</script>
