<% breadcrumb :meal, @user, @date %>

<% @meals.each do |meal| %>
  <%= meal.created_at %>
  <%= image_tag meal.img %>
<% end %>

<%= link_to 'Back', user_meals_path %>

<%= form_with(model: @comment, local: true, url: URI.unescape(comment_user_meal_path)) do |form| %>
  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<% @comments.each do |comment| %>
  <div>
    <%= link_to comment.user, user_path(comment.user.username) %>
    - <small><%= comment.created_at %></small>
    <p><%= simple_format h comment.message %><p>
  </div>
<% end %>
