<% breadcrumb :meal, @user, @date %>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <% @meals.each do |meal| %>
      <%= meal.created_at.strftime("%H:%M") %>
      <div class="card">
        <%= image_tag meal.img, class: "card-img-top" %>
        <% if meal.nutritions.present? %>
          <div class="card-body">
            <% meal.nutritions.each do |nutrition| %>
              <li><%= nutrition.name %></li>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-sm-12 col-md-6">
    <%= form_with(model: @comment, local: true, url: URI.unescape(comment_user_meal_path)) do |form| %>
      <div class="form-group">
        <%= form.label :message %>
        <%= form.text_area :message, required: true, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>

    <% @comments.each do |comment| %>
      <div>
        <%= link_to comment.user, user_path(comment.user.username) %>
        - <small><%= comment.created_at %></small>
        <p><%= simple_format h comment.message %><p>
      </div>
    <% end %>
  </div>
</div>
